.header {
    padding: 10% 20%;
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 10% 10%;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        padding: 10% 5%;
    }
}

.header-img {
    border: solid 2px white;
    border-radius: 50%;
}

.header-text {
    color: white;
    text-align: justify;
}

.header-text a {
    text-decoration: none;
}

.header-text a:link {
    color: white;
}

.header-text a:hover {
    text-decoration: underline;
}

.header-text a:visited {
    color: white;
}

.header-signature {
    margin-left: -15px;
}